__pycache__/
/sources/indigo_exporter/indigo_exporter_updater/
/regression_test_suite/outputs/*
!/regression_test_suite/outputs/*.png
!/regression_test_suite/outputs/*.txt
!/regression_test_suite/outputs/*.html
*.blend1
